<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    <% if @path == 'index' %>
      <%= @config[:blog_title] %>
    <% elsif @path.split('/').compact.length == 4 %>
      <%= title %> - <%= @config[:blog_title] %>
    <% else %>
      <%= @path.capitalize.gsub(/[-]/, ' ') %> - <%= @config[:blog_title] %>
    <% end %>
  </title>
  <meta name="description" content="<%= @context[:description] || @config[:description] %>">
  <meta name="author" content="<%= @config[:author] %>">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="/css/style.css">

  <script src="js/libs/modernizr-2.0.6.min.js"></script>

  <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />

</head>

<body>

  <div id="container">
    <header>
      <nav>
        <ul>
          <% if @config[:main_url] %><li>
            <a class="main" href="<%= @config[:main_url] %>">Main
              <small>my home</small>
            </a>
          </li><% end %>
          <li>
            <a <%= ' class="active"' if @path == 'index' %> href="/">Home
              <small>front page</small>
            </a>
          </li>
          <li>
            <a <%= ' class="active"' if @path == 'archives' %> href="/archives">Archive
              <small>old stuff</small>
            </a>
          </li>
          <li>
            <a <%= ' class="active"' if @path == 'about' %> href="/about">About
              <small>this guy</small>
            </a>
          </li>
          <% if @config[:twitter] %><li>
            <a href="https://twitter.com/#!/<%= @config[:twitter] %>">Twitter
              <small>140 chars</small>
            </a>
          </li><% end %>
          <li>
            <a href="/index.xml">Subscribe
              <small>via rss</small>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="main" role="main">
      <%= yield %>
    </div>
    <footer>
      &copy; <%= @config[:author] %>. This website is powered by <a href="http://cloudhead.io/toto">toto</a> and <a href="http://github.com/prestia/dodo">dodo</a>.
    </footer>
  </div> <!--! end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <script type="text/javascript" src="/js/highlight.pack.js"></script>

  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>


  <script>
    window._gaq = [['_setAccount','<%= @config[:analytics] %>'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
